{% extends 'partials/base.html.twig' %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

{% block content %}
<section class="page-section">
  <div class="section-intro background-{{ page.header.sectionBrandColor }}">
    <div class="wrapper padding">
      <h2 class="page-title">{{ page.title }}</h2>
      {% if page.content %}
        <div class="page-content">
          {{ page.content }}
        </div>
      {% endif %}
        <div class="intro-image">
          {% if page.media.images %}
            {{ page.media.images|first }}
          {% else %}
            <img aria-hidden="true" src="{{ url('theme://images/blank-grid.png') }}">
          {% endif %}
        </div>
    </div>
  </div>

  <div class="wrapper">
    <h2 class="page-small-title">{{ page.title }}</h2>
    {% for childpage in page.children %}
      <div class="childpage {{ childpage.header.body_classes }} {{ childpage.template|replace({'modular/': ''}) }} {{  _self.pageLinkName(childpage.menu) }}">
        {{ childpage.content }}
      </div>
    {% endfor %}
  </div><!-- .wrapper -->
</section>

<nav class="page-nav">
  <div class="wrapper">
    {% set prev_page = pages.children.nextSibling(page.path) %}
    {% if prev_page and prev_page.title != 'Home' %}
    <a class="nav-button prev" href="{{ prev_page.url }}" data-color="{{ prev_page.header.sectionBrandColor }}"><span class="arrow"></span><span class="label">prev</span> {{ prev_page.title }}</a>
    {% endif %}

    {% set next_page = pages.children.prevSibling(page.path) %}
    {% if pages.children.isLast(page.path) == false %}
    <a class="nav-button next" href="{{ next_page.url }}" data-color="{{ next_page.header.sectionBrandColor }}"><span class="label">next</span> {{ next_page.title }} <span class="arrow"></span></a>
    {% endif %}
  </div>
  <div class="colorbar background-{{ page.header.sectionBrandColor }}"></div>
</nav>
{% endblock %}