{% extends 'partials/base.html.twig' %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

{% block header_navigation %}
<nav class="main-nav">
  {% include 'partials/navigation.html.twig' %}
</nav>
{% endblock %}

{% block content %}
<section class="page-section">
  <div class="section-intro background-{{ page.header.sectionBrandColor }}">
    <div class="wrapper padding">            
      <h2 class="page-title">{{ page.title }}</h2>
      {% if page.content %}
        <div class="page-content">
          {{ page.content }}
        </div>
      {% endif %}
    </div>   
  </div>

  <div class="wrapper">
  {% for childpage in page.children %}
    <div class="childpage" id="{{ _self.pageLinkName(childpage.menu) }}">
      <h2 class="subpage-title">{{ childpage.title }}</h2>
      <div class="subpage-content">
        {{ childpage.content }}
        {% for modular in childpage.collection %}
          <div class="modular-container">          
            <aside class="sidenote">{{ modular.header.sidenote }}</aside>
            {{ modular.content }}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <nav class="page-nav">
      {% set next_page = pages.children.nextSibling(page.path) %}
      {% if next_page and next_page.title != 'Home' %}
      <a class="button" href="{{ next_page.url }}">&larr; {{ next_page.title }}</a>
      {% endif %}

      {% set prev_page = pages.children.prevSibling(page.path) %}
      {% if prev_page %}
      <a class="button" href="{{ prev_page.url }}">{{ prev_page.title }} &rarr;</a>
      {% endif %}
    </nav>
    
  </div>
</section>
{% endblock %}
