{% extends 'partials/base.html.twig' %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

{% block header_navigation %}
<nav class="main-nav">
    {% include 'partials/navigation.html.twig' %}
</nav>
{% endblock %}

{% block content %}
    {{ page.content }}

    {% for childpage in page.children %}
        <div class="childpage" id="{{ _self.pageLinkName(childpage.menu) }}">
            {{ childpage.content }}
        </div>
    {% endfor %}

    <nav class="page-nav">
        {% set next_page = pages.children.nextSibling(page.path) %}
        {% if next_page and next_page.title != 'Home' %}
            <a class="button" href="{{ next_page.url }}">&larr; {{ next_page.title }}</a>
        {% endif %}

        {% set prev_page = pages.children.prevSibling(page.path) %}
        {% if prev_page %}
            <a class="button" href="{{ prev_page.url }}">{{ prev_page.title }} &rarr;</a>
        {% endif %}
    </nav>
{% endblock %}
