<div class="subsection">
  {{ content }}
  {% for childpage in page.children %}
    <div class="childpage" id="{{ _self.pageLinkName(childpage.menu) }}">
      <h2 class="subpage-title">{{ childpage.title }}</h2>
      <div class="subpage-content">
        {{ childpage.content }}
        {% for modular in childpage.collection %}
          <div class="modular-container">
            <aside class="sidenote">{{ modular.header.sidenote }}</aside>
            {{ modular.content }}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>