{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/application.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% include 'partials/brandstyles.html.twig' %}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/libs/velocity.min.js', {'priority':20, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/libs/clipboard.js', {'priority':20, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/libs/imagesloaded.min.js', {'priority':20, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/libs/isotope.min.js', {'priority':20, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/libs/chocolat.js', {'priority':20, 'group':'bottom'}) %}\
        {% do assets.addJs('theme://js/main.js', {'priority':10, 'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }} {{ page.header.title|lower }}">

{% block header %}
    <div class="header">
        <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{config.brand.primaryLogoVertical|first.path}}">
        </a>
        <h2>Brand Guildelines</h2>
    </div>
    {% block header_navigation %}
    <nav class="main-nav">
      <div class="-inner">
          {% include 'partials/navigation.html.twig' %}
      </div>
    </nav>
    {% endblock %}
{% endblock %}

{% block body %}
    <main class="site-main" role="document">
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>