{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

<ul>
    {% for page in pages.children %}
        {# omit homepage & homepage modules from navigation #}
        {% if page.menu != 'Home' %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">
                    {{ page.menu }}
                </a>
                {% if page.collection() %}
                    <ul>
                    {% for module in page.collection() %}
                        <li>
                            <a href="{{ page.url }}#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

