{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}
<img class="toc-label" src="{{ url("theme://") }}/images/toc-label.png" alt="Table of Contents">
<ol class="nav-list">
    {% for page in pages.children %}
        {# omit homepage & homepage modules from navigation #}
        {% if page.menu != 'Home' %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">
                    {{ page.menu }}
                </a>
                {% if page.children %}
                    <ol>
                    {% for childpage in page.children %}
                        <li>
                            <a href="{{ page.url }}#{{ _self.pageLinkName(childpage.menu) }}">{{ childpage.menu }}</a>
                        </li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ol>