<div class="grid modular-row {{ page.slug }}">
  <div class="one-third">
    <h2 class="modular-title">{{ header.contentFirstTitle }}</h2>
    {{ header.contentFirst }}
  </div>
  <div class="one-third">
    <h2 class="modular-title">{{ header.contentSecondTitle }}</h2>
    {{ header.contentSecond }}
  </div>
  <div class="one-third">
    <h2 class="modular-title">{{ header.contentThirdTitle }}</h2>
    {{ header.contentThird }}
  </div>
</div>
