{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

<div class="feature {{ _self.pageLinkName(page.menu) }}" id="{{ _self.pageLinkName(page.menu) }}" style="background-color:{{ page.header.sectionBackgroundColor }};color:{{ page.header.sectionTextColor }}">
  <div class="feature-background" style="background-image:url('{{ page.media[header.backgroundImage].url }}')"></div>
  {{ dump(page.media[header.backgroundImage]) }}
  <div class="-inner">
    <div class="feature-foreground">{{ page.media[header.foregroundImage] }}</div>
    <h3 class="feature-title">{{ page.title }}</h3>
    <a class="explore-link" href="{{ page.header.pageLink }}">Explore<span class="explore-arrow"></span></a>
  </div>
</div>