{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

<div class="feature {{ _self.pageLinkName(page.menu) }} background-{{ page.header.sectionBrandColor }}" id="{{ _self.pageLinkName(page.menu) }}">
  <div class="feature-background"></div>
  <div class="feature-foreground">{{ page.media.images|first }}</div>
  <h3 class="feature-title">{{ page.title }}</h3>
</div>