{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

<div class="subpage-content template-half-image {{  _self.pageLinkName(page.menu) }}" id="{{  _self.pageLinkName(page.menu) }}">
  {% if page.content %}
    <h3 class="section-title">{{ page.title }}</h3>
    <div class="content user-content">
      {{ page.content }}
    </div>
  {% endif %}
  {% if page.media.images %}
    <div class="section-image">
      {{ page.media.images|first }}
    </div>
  {% endif %}
</div>