{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

<div class="subpage-content {{  _self.pageLinkName(page.menu) }}" id="{{  _self.pageLinkName(page.menu) }}">
  <h3 class="section-title">{{ page.title }}</h3>
  <div class="content user-content">
    {% if page.content %}
      {{ page.content }}
    {% endif %}
    {% if header.sidenote %}
      <div class="sidenote">
        {{ header.sidenote }}
      </div>
    {% endif %}
  </div>
  {% if page.children %}
    <div class="subnested-modulars">
      {% for module in page.children %}
          {{ module.content }}
      {% endfor %}
    </div>
  {% endif %}
</div>