{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'-'})|replace({'&':'and'}) }}{% endmacro %}

<div class="subpage-content" id="{{  _self.pageLinkName(page.menu) }}">
  <h3 class="section-title">{{ page.title }}</h3>
  <div class="content user-content">
    {{ page.content }}
    {% if header.sidenote %}
      <div class="sidenote">
        {{ header.sidenote }}
      </div>
    {% endif %}
  </div>
  <div class="colorpalettes single-color">
    <div class="color">
      <div class="swatch-wrapper">
        <div class="swatch" style="background-color:{{ header.color }}" data-clipboard-text="{{ header.color }}"><span aria-hidden="true" class="copy-text">Copy to Clipboard</span><span aria-hidden="true" class="plus"></span></div>
      </div>
      <div class="color-specs">
        <p class="color-label">{{ header.colorLabel }}</p>
        <p class="cmyk"><span class="label">CMYK</span> <span class="value"></span></p>
        <p class="rgb"><span class="label">RGB</span> <span class="value"></span></p>
        <p class="hex"><span class="label">Hex</span> <span class="value">{{ header.color }}</span></p>
      </div>
    </div>
  </div>
</div>